<!DOCTYPE html>
<html lang="es">
<head>
    <!--Todo lo del head es para la configuración de la página-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuestro sitio web</title>
</head>
<body>
   <header class="encabezado">

   </header>
   <section class="imagenFondo">

   </section>
   <h1>Bienvenid@ a nuestro sitio web</h1>
   <section class="productos">
    <article class="producto">

    </article>
    <article class="producto">

    </article>
    <article class="producto">

    </article>
   </section>
   <footer class="piePagina">

   </footer>
</body>
</html>