.burger-menu {
        text-align: center;      
         color: white;
        background-color: blue;
        width: fit-content;
        border: 10px blue solid;
}

main {
        width: 90%;
        text-align: center;
}

article {
        margin: 10px;

}

article i {
        padding: 15px;
        border-radius: 80%;
        border: 3px solid green;
        color: green;
}
